.photo-card {
    background-color: #1d3e81;
    color: #E8EFF0;
    padding: 0.5rem 2rem 1.5rem 2rem;
    border-radius: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.photo-card a {
    color: #E8EFF0;
}
.photo-card img {
    width: 100%;
}

.photo-card p {
    text-align: justify;
}

.photo-card .content {
    display: block;
    text-align: center;
}

/* Your code here */

@media print {
    .photo-card {
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .photo-card h3{
        order:1;
    }
}


@media screen and (min-width: 600px) {
    .photo-card{
        text-align: left;
    }
    .photo-card .content{
        display: flex ;
    }
    .photo-card .content p{
        margin: 10px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {

    .photo-card{
        text-align: center;
        display: inline-block;
        width: 40%;
        height: 100%;

    }
    .photo-card .content{
        display: flex ;
        flex-direction: column;
    }
    .photo-card .content p{
        margin: 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .photo-card{
        text-align: center;
        display: inline-block;
        width: 38%;
        min-height: 350px;

    }
    .photo-card .content{
        width: 100%;
        display: flex ;
        flex-direction: row;

    }
    .photo-card .content img{

    }
    .photo-card .content p{
        margin: 10px;
    }
}
